<main class="relative w-full flex flex-col justify-between">
  <header
    class="{{
      resultModeDark() ? 'themeDarkBg ' : 'themeLightBg'
    }} p-4 flex gap-3 items-center sticky top-0"
  >
    <a
      routerLink="/home"
      class="text-xl {{
        resultModeDark()
          ? 'themeLightBg themeDarkTxt'
          : ' themeDarkBg themeLightTxt'
      }} text-gray-800 px-4 rounded py-2 font-black"
      >Home</a
    >

    <label class="inline-flex items-center cursor-pointer gap-2">
      <i
        class="fa-solid text-2xl  {{
          resultModeDark() ? 'fa-sun themeLightTxt ' : 'fa-moon themeDarkTxt'
        }}"
      ></i>
      <input
        type="checkbox"
        value=""
        class="sr-only peer"
        checked
        (input)="onChangeModeDark()"
      />
      <div
        class="relative w-11 h-6 bg-gray-200 rounded-full peer peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"
      ></div>
    </label>
  </header>
 
    <router-outlet></router-outlet>
  
  <!-- Información adicional -->
  <footer
    class="text-center flex justify-center gap-3  w-full  p-3 text-gray-600"
  >
    <p class="text-md">
      <span class="font-medium">Development By Manuel Huaman - 2024</span>
    </p>
    <span>|</span>
    <a
      href="https://earthquake.usgs.gov/fdsnws/event/1/"
      target="_blank"
      class="text-blue-600 font-bold"
      >Web API Earthquake.usgs.gov</a
    >
  </footer>
</main>
