<section class="w-full max-h-full h-full mx-auto mt-52 mb-10 text-gray-800">
  <div class="text-center">
    <h1 class="text-8xl font-bold mb-4">¡Use API Earthquake!</h1>
    <p class="text-2xl">
      "Essential earthquake information, readily available"
    </p>
  </div>
  <div class="flex justify-center gap-2 mt-5 text-white">
    <a
      href="https://github.com/Manuel-Antonio/proyect-earthquake"
      target="_blank"
      class="p-3 rounded-full bg-gray-800 w-10 h-10 flex justify-center items-center"
    >
      <i class="fa-brands fa-github text-xl"></i>
    </a>
    <a
      href="https://github.com/Manuel-Antonio/api-earthquake"
      target="_blank"
      class="p-3 rounded-full bg-gray-800 w-10 h-10 flex justify-center items-center"
    >
      <i class="fa-solid fa-database"></i>
    </a>
    <a
      href="https://www.linkedin.com/in/manuel-huaman-5649462a5/"
      target="_blank"
      class="p-3 rounded-full bg-gray-800 w-10 h-10 flex justify-center items-center"
    >
      <i class="fa-brands fa-linkedin-in"></i>
    </a>

    <a
      href="https://portafolio-manuelhuaman-developer.vercel.app/proyectos"
      target="_blank"
      class="p-3 rounded-full bg-gray-800 w-10 h-10 flex justify-center items-center"
    >
      <i class="fa-solid fa-briefcase"></i>
    </a>
  </div>

  <div class="mt-8 flex justify-center gap-3">
    <a
      routerLink="/earthquake/pages/1"
      class="bg-blue-500 hover:bg-blue-600 text-white font-semibold px-6 py-3 rounded-full shadow-lg transition-all"
    >
      List Earthquake
    </a>
  </div>
</section>
